Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.attach*
src/test/resources/application-test.yml
kotlin/
jython/.jython_cache
plugin-script-shell/src/test/java/io/kestra/plugin/scripts/shell/DockerPrivateTest.java
plugin-docker/src/test/java/io/kestra/plugin/docker/BuildAndPushTest.java
